<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" (click)="setMode('search')">
        <a class="nav-link active" href="#">Wyszukaj</a>
      </li>
      <li class="nav-item" (click)="setMode('activities')">
        <a class="nav-link" href="#">Zajęcia</a>
      </li>
    </ul>
  </div>
  <div class="card-block" [ngSwitch]="mode">
    <app-search-list *ngSwitchCase="'search'"></app-search-list>
    <app-activities-list *ngSwitchCase="'activities'"></app-activities-list>
  </div>
</div>